<div class="hero-unit">
  <h2>Apply for Parse.com job</h2>
  <p>
  Forget uploading resumes or filling out forms on some job board.
  Backend-as-a-service company Parse is inviting potential hires to
  apply via its <a href="https://parse.com/docs/rest">Parse API</a>. 
  </p>
  <p><a href="/apply" class="btn primary large">Apply</a></p>
</div>
