<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Apply for Parse Job</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
</head>
<body style="padding-top: 60px;">
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Parse Jobs</a>
      <nav>
      <ul class="nav">
        <li><a href="/apply">Apply</a></li>
        <li><a href="https://parse.com/jobs#api">API</a></li>
        <li><a href="http://github.com/zh/parsejobs">Code</a></li>
      </ul>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
    <% if flash[:notice] %>
    <div class="alert-message success"><%= flash[:notice] %></div>
    <% end%>
    <% if flash[:error] %>
    <div class="alert-message error"><%= flash[:error] %></div>
    <% end%>
    <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
